.controls{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        
}

.cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

button{
        
                border-style: none;
                display: inline-block;
                background-color: rgb(95, 18, 18);
                color:white;
                height: 22px;
        
}

select{
        border-style: double;
        height: -webkit-fill-available;
}
button:hover{
        color:rgb(82, 83, 82);
        cursor: pointer;
}

.a:link, a:visited, a:active {
        text-decoration: none;
}