*{
   box-sizing:border-box;
}

form{
	margin: 50px auto;
        width:300px;
	padding: 8px;
	border-radius:10px;
	background-color:#ccc;
        font-family: 'Dosis', sans-serif;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form button[type="submit"]{
	margin-right: 12px;
}

form input[type="text"],
form input[type="email"],
form select {
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}


textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}
._rcpbotton{
        color:black
}
._rcpbotton:disabled{
        background-color:rgb(221, 188, 188);
        color: lightcyan;
        
}

._rcpbotton:enabled{
      background-color: rgb(95, 18, 18);
      color:white;
}

.error{
        color:rgb(190, 38, 38);
		border-radius: 5px;
		background-color: white;
		display: block;
		font-size: 15px;
}