.contenedor{
        width: 54%;
        height: 100%;
        margin-left: 280px;
        background-color:beige;
        display: flex;
        align-items:flex-end;
        margin-top: 100px;
       
}

.box{
        
        position:relative;
        background: rgb(233, 228, 228);
        width: 570px;
        margin: 20px auto;
        box-shadow: 0px 0px 30px 2px rgb(44, 43, 43);
        font-family: 'Dosis', sans-serif;
        font-size: 200;
        border-color: rgb(227, 230, 227);
        border-style: solid;
        /* width: auto; */
        height:500;
        
}

.footer{
        
        display: flex;
        justify-content: space-evenly;
        margin: 25px;
}

._rcpbotton{
        color:black
}
._rcpbotton:disabled{
        background-color:rgb(221, 188, 188);
        color: lightcyan;
        
}

._rcpbotton:enabled{
      background-color: rgb(95, 18, 18);
      color:white;
}

.error{
        color:rgb(190, 38, 38);
}